In [1]:
!pip install twython

Collecting twython
  Downloading twython-3.8.2-py3-none-any.whl (33 kB)
Collecting requests>=2.1.0
  Using cached requests-2.24.0-py2.py3-none-any.whl (61 kB)
Collecting requests-oauthlib>=0.4.0
  Using cached requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting chardet<4,>=3.0.2
  Using cached chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Requirement already satisfied: certifi>=2017.4.17 in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from requests>=2.1.0->twython) (2020.6.20)
Collecting idna<3,>=2.5
  Using cached idna-2.10-py2.py3-none-any.whl (58 kB)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Using cached urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
Collecting oauthlib>=3.0.0
  Using cached oauthlib-3.1.0-py2.py3-none-any.whl (147 kB)
Installing collected packages: chardet, idna, urllib3, requests, oauthlib, requests-oauthlib, twython
Successfully installed chardet-3.0.4 idna-2.10 oauthlib-3.1.0 requests-2.24.0 requests-oauthlib-1.3.0 twython-3.8.2 urllib3-1.25.11

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.1.4-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 9.1 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading numpy-1.19.4-cp37-cp37m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 6.9 MB/s eta 0:00:01    |████▎                           | 1.9 MB 5.1 MB/s eta 0:00:03     |█████                           | 2.3 MB 5.1 MB/s eta 0:00:03
Requirement already satisfied: python-dateutil>=2.7.3 in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Using cached pytz-2020.4-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: six>=1.5 in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.19.4 pandas-1.1.4 pytz-2020.4

In [4]:
!pip install nltk

Processing /home/vishal/.cache/pip/wheels/45/6c/46/a1865e7ba706b3817f5d1b2ff7ce8996aabdd0d03d47ba0266/nltk-3.5-py3-none-any.whl
Collecting regex
  Downloading regex-2020.11.11-cp37-cp37m-manylinux2014_x86_64.whl (722 kB)
     |████████████████████████████████| 722 kB 2.7 MB/s eta 0:00:01
Collecting click
  Using cached click-7.1.2-py2.py3-none-any.whl (82 kB)
Collecting tqdm
  Downloading tqdm-4.51.0-py2.py3-none-any.whl (70 kB)
     |████████████████████████████████| 70 kB 1.2 MB/s eta 0:00:01
Collecting joblib
  Using cached joblib-0.17.0-py3-none-any.whl (301 kB)
Installing collected packages: regex, click, tqdm, joblib, nltk
Successfully installed click-7.1.2 joblib-0.17.0 nltk-3.5 regex-2020.11.11 tqdm-4.51.0

In [10]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.3.3-cp37-cp37m-manylinux1_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 35 kB/s  eta 0:00:01
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from matplotlib) (2.4.7)
Collecting pillow>=6.2.0
  Downloading Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 5.7 MB/s eta 0:00:01
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp37-cp37m-manylinux1_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 5.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from matplotlib) (1.19.4)
Requirement already satisfied: six in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: pillow, cycler, kiwisolver, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.3 pillow-8.0.1

In [35]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
     |████████████████████████████████| 115 kB 6.3 MB/s eta 0:00:01
Collecting soupsieve>1.2; python_version >= "3.0"
  Downloading soupsieve-2.0.1-py3-none-any.whl (32 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=6b398c269ad23a487aee8325e8773aae8e6c955635fbd930f068bf453fa1622f
  Stored in directory: /home/vishal/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.3 bs4-0.0.1 soupsieve-2.0.1

In [46]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/vishal/anaconda3/envs/twitter/lib/python3.7/site-packages (from beautifulsoup4) (2.0.1)

In [5]:
!ls

Untitled.ipynb

In [6]:
!pwd

/home/vishal/Documents/plaksha/sentiment_analysis

In [7]:
!git clone https://github.com/tthustla/twitter_sentiment_analysis_part1.git

Cloning into 'twitter_sentiment_analysis_part1'...
remote: Enumerating objects: 15, done.
remote: Total 15 (delta 0), reused 0 (delta 0), pack-reused 15
Unpacking objects: 100% (15/15), done.

In [8]:
!ls

Twitter_sentiment_analysis.ipynb  twitter_sentiment_analysis_part1

# 1: Data Analysis

For the twitter sentiment analysis model, I have chosen a dataset of tweets labelled either positive or negative.
The dataset for training the model is from "Sentiment140", a dataset originated from Stanford University.
More info on the dataset can be found from the below link.
http://help.sentiment140.com/for-students/<br><br>
The dataset can be downloaded from the below link.<br>
http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip

By looking at the description of the dataset from the link, the information on each field can be found.

0 - the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)<br>
1 - the id of the tweet (2087)<br>
2 - the date of the tweet (Sat May 16 23:58:44 UTC 2009)<br>
3 - the query (lyx). If there is no query, then this value is NO_QUERY.<br>
4 - the user that tweeted (robotickilldozr)<br>
5 - the text of the tweet (Lyx is cool)

In [12]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline

In [17]:
# Assigning cloumn_names

cols = ['sentiment','id','date','query_string','user','text']
df = pd.read_csv("./trainingandtestdata/training.1600000.processed.noemoticon.csv",header=None, names=cols, encoding = "ISO-8859-1")

In [18]:
df.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [111]:
df.iloc[my_df[my_df.isnull().any(axis=1)].index,:].head()

     sentiment                   text  pre_clean_len
208          0             @mandayyy              10
249          0           @mandayyy                12
282          0  @ITS_NEMESIS -------              21
398          0         @danadearmond              14
430          0             @anistorm              10

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   sentiment     1600000 non-null  int64
 1   id            1600000 non-null  int64
 2   date          1600000 non-null  object
 3   query_string  1600000 non-null  object
 4   user          1600000 non-null  object
 5   text          1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [21]:
#let's find if the dataset is balanced

df['sentiment'].value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

 4 : positive
 0 : negative
 
Clearly, it's visible that the dataset is balanced
 
Dataset has 1.6million entries, with no null entries, and importantly for the "sentiment" column,
even though the dataset description mentioned neutral class, the training set has no neutral class.
50% of the data is with negative label, and another 50% with positive label.
We can see there's no skewness on the class division.

#### We don't require the id,date,query_string,user  columns for building the sentiment analysis model and hene we will drop it.

"id" column is unique ID for each tweet<br>
"date" column is for date info for the tweet<br>
"query_string" column indicates whether the tweet has been collected with any particular query keyword,
but for this column, 100% of the entries are with value "NO_QUERY"<br>
"user" column is the twitter handle name for the user who tweeted<br><br>
I decided to drop above four columns.

In [22]:
df.drop(['id','date','query_string','user'],axis=1,inplace=True)

In [23]:
df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

#### Let's see some negative and positive tweets

In [25]:
df[df.sentiment == 0].head(10)

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....
5          0                      @Kwesidei not the whole crew
6          0                                        Need a hug
7          0  @LOLTrish hey  long time no see! Yes.. Rains a...
8          0               @Tatiana_K nope they didn't have it
9          0                          @twittera que me muera ?

In [26]:
df[df.sentiment == 4].head(10)

        sentiment                                               text
800000          4       I LOVE @Health4UandPets u guys r the best!!
800001          4  im meeting up with one of my besties tonight! ...
800002          4  @DaRealSunisaKim Thanks for the Twitter add, S...
800003          4  Being sick can be really cheap when it hurts t...
800004          4    @LovesBrooklyn2 he has that effect on everyone
800005          4  @ProductOfFear You can tell him that I just bu...
800006          4  @r_keith_hill Thans for your response. Ihad al...
800007          4  @KeepinUpWKris I am so jealous, hope you had a...
800008          4  @tommcfly ah, congrats mr fletcher for finally...
800009          4  @e4VoIP I RESPONDED  Stupid cat is helping me ...

By looking at some entries for each class, it seems like that all the negative class is from 0~799999th index,
and the positive class entries start from 800000 to the end of the dataset.

In [27]:
df[df.sentiment == 0].index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            799990, 799991, 799992, 799993, 799994, 799995, 799996, 799997,
            799998, 799999],
           dtype='int64', length=800000)

In [28]:
df[df.sentiment == 4].index

Int64Index([ 800000,  800001,  800002,  800003,  800004,  800005,  800006,
             800007,  800008,  800009,
            ...
            1599990, 1599991, 1599992, 1599993, 1599994, 1599995, 1599996,
            1599997, 1599998, 1599999],
           dtype='int64', length=800000)

In order for the computation, I mapped the class value of 4(positive) to 1.

In [29]:
df['sentiment'] = df['sentiment'].map({0: 0, 4: 1})
df.sentiment.value_counts()

1    800000
0    800000
Name: sentiment, dtype: int64

As a way of sanity check, let's look at the length of the string in text column in each entry.

In [30]:
df['pre_clean_len'] = [len(t) for t in df.text]

In [31]:
df.head()

   sentiment                                               text  pre_clean_len
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...            115
1          0  is upset that he can't update his Facebook by ...            111
2          0  @Kenichan I dived many times for the ball. Man...             89
3          0    my whole body feels itchy and like its on fire              47
4          0  @nationwideclass no, it's not behaving at all....            111

## 2. Data Cleaning

### 1. HTML decoding

It looks like HTML encoding has not been converted to text, and ended up in text field as '&amp','&quot',etc.<br>
Decoding HTML to general text will be my first step of data preparation.
I will use BeautifulSoup for this.

In [32]:
df.text[279]

"Whinging. My client&amp;boss don't understand English well. Rewrote some text unreadable. It's written by v. good writer&amp;reviewed correctly. "

In [55]:
from bs4 import BeautifulSoup
example1 = BeautifulSoup(df.text[279])
print(example1.get_text())

Whinging. My client&boss don't understand English well. Rewrote some text unreadable. It's written by v. good writer&reviewed correctly.

### 2. @mention

The second part of the preparation is dealing with @mention.<br>
Even though @mention carries a certain information (which another user that the tweet mentioned),
this information doesn't add value to build sentiment analysis model.

In [56]:
df.text[343]

'@TheLeagueSF Not Fun &amp; Furious? The new mantra for the Bay 2 Breakers? It was getting 2 rambunctious;the city overreacted &amp; clamped down '

In [58]:
import re
re.sub(r'@[A-Za-z0-9]+','',df.text[343])

' Not Fun &amp; Furious? The new mantra for the Bay 2 Breakers? It was getting 2 rambunctious;the city overreacted &amp; clamped down '

### 3. URL links 
The third part of the cleaning is dealing with URL links, same with @mention,
even though it carries some information, for sentiment analysis purpose,
this can be ignored.

In [59]:
df.text[0]

"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [60]:
re.sub('https?://[A-Za-z0-9./]+','',df.text[0])

"@switchfoot  - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

### 4. hashtag / numbers
Sometimes the text used with a hashtag can provide useful information about the tweet. It might be a bit risky to get rid of all the text together with the hashtag.<br>
So I decided to leave the text intact and just remove the '#'. I will do this in the process of cleaning all the non-letter characters including numbers.

In [77]:
!git clone https://github.com/tthustla/twitter_sentiment_analysis_part2.git

Cloning into 'twitter_sentiment_analysis_part2'...
remote: Enumerating objects: 15, done.
remote: Total 15 (delta 0), reused 0 (delta 0), pack-reused 15
Unpacking objects: 100% (15/15), done.

In [73]:
df.text[175]

"@machineplay I'm so sorry you're having to go through this. Again.  #therapyfail"

In [76]:
re.sub("[^a-zA-Z]", " ", df.text[175])

' machineplay I m so sorry you re having to go through this  Again    therapyfail'

### Let's write the function to clean all the tweets. <br>
Below is the updated datacleaning function.
The order of the cleaning is 
1. Souping
2. url address('http:'pattern), twitter ID removing
3. url address('www.'pattern) removing
4. lower-case
5. negation handling
6. removing numbers and special characters
7. tokenizing and joining

In [84]:
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

pat1 = r'@[A-Za-z0-9_]+'
pat2 = r'https?://[^ ]+'
combined_pat = r'|'.join((pat1, pat2))
www_pat = r'www.[^ ]+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

def tweet_cleaner_updated(text):
    soup = BeautifulSoup(text)
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pat, '', bom_removed)
    stripped = re.sub(www_pat, '', stripped)
    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

In [85]:
%%time
print("Cleaning the tweets...\n")
clean_tweet_texts = []
for i in range(0,len(df)):
    if( (i+1)%100000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, len(df)))                                                                    
    clean_tweet_texts.append(tweet_cleaner_updated(df['text'][i]))

Cleaning the tweets...

Tweets 100000 of 1600000 has been processed
Tweets 200000 of 1600000 has been processed
Tweets 300000 of 1600000 has been processed
Tweets 400000 of 1600000 has been processed
Tweets 500000 of 1600000 has been processed
Tweets 600000 of 1600000 has been processed
Tweets 700000 of 1600000 has been processed
Tweets 800000 of 1600000 has been processed
Tweets 900000 of 1600000 has been processed
Tweets 1000000 of 1600000 has been processed
Tweets 1100000 of 1600000 has been processed
Tweets 1200000 of 1600000 has been processed
Tweets 1300000 of 1600000 has been processed
Tweets 1400000 of 1600000 has been processed
Tweets 1500000 of 1600000 has been processed
Tweets 1600000 of 1600000 has been processed
CPU times: user 3min 31s, sys: 6.83 s, total: 3min 37s
Wall time: 3min 38s

In [86]:
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df['target'] = df.sentiment

In [102]:
clean_df.head()

                                                text  target
0  awww that bummer you shoulda got david carr of...       0
1  is upset that he can not update his facebook b...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it not behaving at all mad why am here beca...       0

In [92]:
clean_df.shape

(1600000, 2)

In [93]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   text    1600000 non-null  object
 1   target  1600000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [115]:
clean_df[clean_df['text']==""].head()

    text  target
208            0
249            0
282            0
398            0
430            0

####  Due to the cleaning process we have got some empty strings in the text column. Let's see what was their earlier in the original dataset before cleaning.

In [116]:
np.sum(clean_df['text']=="")

3959

In [117]:
df.iloc[clean_df[clean_df['text']==""].index,:].head()

     sentiment                   text  pre_clean_len
208          0             @mandayyy              10
249          0           @mandayyy                12
282          0  @ITS_NEMESIS -------              21
398          0         @danadearmond              14
430          0             @anistorm              10

By looking at these entries in the original data, it seems like only text information they had was either twitter ID or it could have been URL address.
Anyway, these are the info I decided to discard for the sentiment analysis, so I will drop these null rows, and update the data frame.

In [118]:
# First we will introduce null values in place of empty strings before dropping null rows.
clean_df['text'].replace('', np.nan, inplace=True)

In [119]:
np.sum(clean_df['text']=="")

0

In [120]:
clean_df.iloc[208]

text      NaN
target      0
Name: 208, dtype: object

Look's like the empty strings are replaced properly with NaN

In [121]:
clean_df.dropna(inplace=True)
clean_df.reset_index(drop=True,inplace=True)
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596041 entries, 0 to 1596040
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   text    1596041 non-null  object
 1   target  1596041 non-null  int64
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [122]:
np.sum(clean_df.isnull().any(axis=1))

0

We are able to drop all NaN's easily. Let's save the cleaned data into a file .

In [123]:
clean_df.to_csv('clean_tweet.csv',encoding='utf-8')